/*
=============================================================================================================================================
GLOBALS
=============================================================================================================================================
*/

body {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: white;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

#root,
.grid-container {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 60px 1fr 40px;
  grid-template-areas: "header header header" " . main  . " "footer footer footer";
  grid-gap: 1px;
}

/*
Increase the Font Size - https://cssnewbie.com/make-beautiful-hyperlinks-using-css/
*/

article a {
  margin-left: 10px;
  display: inline-block;
  transition: 0.3s;
  font-weight: bold;
  text-decoration: none;
  color: royalblue;
}

article a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*
=============================================================================================================================================
HEADER
=============================================================================================================================================
*/

.header-site {
  background-image: url("https://images.unsplash.com/photo-1516101922849-2bf0be616449?ixlib=rb-0.3.5&s=e4b81ba6ba6aaff25fc3e7caced7093d&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
  background-position: center;
  background-size: cover;
  display: flex;
  grid-area: header;
  justify-content: space-between;
}

/*
=============================================================================================================================================
HEADER LOGO
=============================================================================================================================================
*/

.header-logo {
  display: flex;
  justify-content: center;
}

.header-logo h1 {
  color: white;
  margin: auto 10px;
  font-size: 1.1em;
}

/*
=============================================================================================================================================
NAVBAR
=============================================================================================================================================
*/

.nav-links {
  margin: auto 10px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-links a {
  margin: 0px 10px;
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  border-bottom: 4px solid #ffffff;
}

/*
=============================================================================================================================================
MAIN
=============================================================================================================================================
*/

main {
  grid-area: main;
  min-width: 0px;
  margin: auto 0px;
}

/*
=============================================================================================================================================
MAIN SECTION
=============================================================================================================================================
*/

main section {
  display: grid;
  grid-template-columns: 200px 3fr;
  grid-template-rows: auto fr1;
  grid-gap: 10px;
  grid-template-areas: "figure article" ". article ";
}

main section article {
  border-left: 4px solid lightslategrey;
  padding-left: 20px;
}

main section figure {
  margin: auto 20px;
  grid-area: figure;
}

main section article {
  grid-area: article;
}

main section article h1 {
  font-size: 2em;
  grid-area: article;
}

main section article p {
  font-size: 0.9em;
  color: gray;
}

main section figure img {
  width: 150px;
  height: 100%;
  border-radius: 2%;
  box-shadow: 10px 10px 20px 1px gray;
}

main section figure figcaption {
  color: darkblue;
}

/*
=============================================================================================================================================
FOOTER
=============================================================================================================================================
*/

footer {
  grid-area: footer;
  background-color: #255f85;
  display: flex;
}

footer div {
  margin-left: 10px;
  margin-right: 20px;
}

footer a {
  margin-left: 20px;
  display: inline-block;
  transition: 0.3s;
  font-weight: bold;
  text-decoration: none;
  color: powderblue;
}

footer a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*
=============================================================================================================================================
MEDIA QUERYS
=============================================================================================================================================
*/

@media (max-width: 900px) {
  .grid-container {
    grid-template-rows: 120px 1fr auto;
  }
  .header-site {
    flex-flow: column;
  }
  main section {
    grid-template-areas: "figure figure" "article article";
  }
  main section figure {
    justify-self: center;
  }
  .header-site h1 {
    font-size: 1.1em;
  }
}